<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <dataProviders>
      <journalDataProvider type="ms8.code.DataProviders.JournalDataProvider, ms8">
        <param desc="targetDatabaseName">master</param>
        <param desc="rootTemplateId">{3A6F45AC-5C68-4B15-BD08-82ABA07A9E0B}</param>
        <param desc="itemTemplateId">{20E8F6F1-1027-4092-BB4F-568321F66251}</param>
        <param desc="idTablePrefix">Journals</param>
        <param desc="itemRootId">{95A0B67B-04DF-4307-A5F7-D107E769FAD5}</param>
      </journalDataProvider>
      <categoryDataProvider type="ms8.code.DataProviders.CategoryDataProvider, ms8">
        <param desc="targetDatabaseName">master</param>
        <param desc="rootTemplateId">{24533C1B-1178-4504-80DB-E73571FF461B}</param>
        <param desc="itemTemplateId">{4C6CCC1D-0993-4688-874A-10BCC15D5396}</param>
        <param desc="idTablePrefix">Categories</param>
        <param desc="itemRootId">{879C8778-114B-4BCF-BCF2-0AAB097DED11}</param>
      </categoryDataProvider>
      <journalTypeDataProvider type="ms8.code.DataProviders.JournalTypeDataProvider, ms8">
        <param desc="targetDatabaseName">master</param>
        <param desc="rootTemplateId">{0E8A5D93-E82A-4267-A306-D7755558F4EF}</param>
        <param desc="itemTemplateId">{09B7E8EB-1A10-46E1-A78F-8958FA392308}</param>
        <param desc="idTablePrefix">JournalTypes</param>
        <param desc="itemRootId">{0EE25E20-A1C9-4DC3-BB8D-E1F95A97A157}</param>
      </journalTypeDataProvider>
    </dataProviders>
    <databases>
      <database id="master" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <dataProviders hint="list:AddDataProvider">
          <dataProvider patch:before="*[1]" ref="dataProviders/journalDataProvider"/>
          <dataProvider patch:before="*[1]" ref="dataProviders/categoryDataProvider"/>
           <dataProvider patch:before="*[1]" ref="dataProviders/journalTypeDataProvider"/> 
        </dataProviders>
      </database>
 
      <!--<database id="web" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <dataProviders hint="list:AddDataProvider">
         
          <dataProvider patch:before="*[1]" ref="dataProviders/categoryDataProvider"/>
          
        </dataProviders>
      </database>-->
    </databases>
  </sitecore>
</configuration>