<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<!--
					The default configuration defines a somewhat sane set of default dev artifacts to serialize.
					You will probably want to customize the includes and excludes. Consider serializing a multisite installation
					with a configuration for each site, as opposed to all templates and layout in one as defined below.

					Configurations can override the default dependencies defined in Unicorn.config's <defaults> to apply
					custom behaviors to specific configurations.
				-->
				<configuration name="Default Configuration" description="Bare minimum of the items in the content tree. Other items might exist but presumably not changed. If they do change please add in here.">
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						
            <include database="master" name="templates" path="/sitecore/templates/User Defined/msdemo" />
            <include database="master" name="informaTemplates" path="/sitecore/templates/User Defined/informa" />
            <include database="master" name="media" path="/sitecore/media library/Custom demo"/>
            <include database="master" name="renderings" path="/sitecore/layout/Renderings/msdemo"/>
            <include database="master" name="sublayouts" path="/sitecore/layout/Sublayouts/msdemo"/>
            <include database="master" name="layouts" path="/sitecore/layout/Layouts/msdemo"/>
            <include database="master" name="placeholder" path="/sitecore/layout/Placeholder Settings"/>
            <include database="master" name="home" path="/sitecore/content/Home">
              <exclude path="/sitecore/content/Home/Categories/" />
              <exclude path="/sitecore/content/Home/Journals/" />
              <exclude path="/sitecore/content/Home/Journal Types/" />
            </include>
            <include database="master" name="settings" path="/sitecore/content/settings" />
            <include database="master" name="global" path="/sitecore/content/Global"/>
			<include database="master" name="engagementplans" path="/sitecore/system/Marketing Control Panel/Engagement Plans"/>
          </predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
