
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en-US"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en-US"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en-US"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en-US"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-US"> <!--<![endif]-->
<head>

<title>Game box | </title>
<meta name="description" content=" | "/>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" media="all" href="/css/responsive.css"/>
<link rel="stylesheet" type="text/css" media="all" href="/css/camera.css"/>
<link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>

<link rel='stylesheet' id='flexslider-css' href='/css/flexslider.css?ver=2.0' type='text/css' media='all'/>
<link rel='stylesheet' id='owl-carousel-css' href='/css/owl.carousel.css?ver=1.24' type='text/css' media='all'/>
<link rel='stylesheet' id='owl-theme-css' href='/css/owl.theme.css?ver=1.24' type='text/css' media='all'/>
<link rel='stylesheet' id='font-awesome-css' href='/css/font-awesome.css?ver=3.2.1' type='text/css' media='all'/>
<link rel='stylesheet' id='cherry-plugin-css' href='/css/cherry-plugin.css?ver=1.1' type='text/css' media='all'/>
<link rel='stylesheet' id='contact-form-7-css' href='/css/styles.css?ver=3.7.2' type='text/css' media='all'/>
<link rel='stylesheet' id='theme48834-css' href='/css/main-style.css' type='text/css' media='all'/>
<link rel='stylesheet' id='magnific-popup-css' href='/css/magnific-popup.css?ver=0.9.3' type='text/css' media='all'/>
<link rel='stylesheet' id='options_typography_Open+Sans-css' href='//fonts.googleapis.com/css?family=Open+Sans&#038;subset=latin' type='text/css' media='all'/>

<script type='text/javascript' src='/js/comment-reply.min.js?ver=3.8.7'></script>
<script type='text/javascript' src='/js/jquery-1.7.2.min.js?ver=1.7.2'></script>
<script type='text/javascript' src='/js/my_script.js?ver=1.0'></script>
<script type='text/javascript' src='/js/swfobject.js?ver=2.2-20120417'></script>
<script type='text/javascript' src='/js/modernizr.js?ver=2.0.6'></script>
<script type='text/javascript' src='/js/jflickrfeed.js?ver=1.0'></script>
<script type='text/javascript' src='/js/jquery.easing.1.3.js?ver=1.3'></script>
<script type='text/javascript' src='/js/custom.js?ver=1.0'></script>
<script type='text/javascript' src='/js/bootstrap.min.js?ver=2.3.0'></script>
<script type='text/javascript' src='/js/jquery.elastislide.js?ver=1.1'></script>

<style type="text/css">.cherry-fixed-layout .main-holder{background:#fafafa;}</style>
<style type='text/css'></style>
<style type='text/css'>h1{font:normal 29px/29px Open Sans;color:#34312e;}h2{font:normal 29px/29px Open Sans;color:#252627;}h3{font:normal 29px/29px Open Sans;color:#34312e;}h4{font:normal 22px/24px Open Sans;color:#faf9f9;}h5{font:normal 29px/29px Open Sans;color:#f8f3f0;}h6{font:normal 14px/22px Open Sans;color:#252627;}body{font-weight:normal;}.logo_h__txt,.logo_link{font:bold 52px/52px Open Sans;color:#ffffff;}.sf-menu>li>a{font:normal 22px/24px Open Sans;color:#ffffff;}.nav.footer-nav a{font:normal 14px/20px Open Sans;color:#ffffff;}</style>
<!--[if lt IE 8]>
	<div style=' clear: both; text-align:center; position: relative;'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
	</div>
	<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<script src="/js/jquery.mobile.customized.min.js" type="text/javascript"></script>
<script type="text/javascript">
		jQuery(function(){
			jQuery('.sf-menu').mobileMenu({defaultText: "Navigate to..."});
		});
	</script>
<!--<![endif]-->
<script type="text/javascript">
		// Init navigation menu
		jQuery(function(){
		// main navigation init
			jQuery('ul.sf-menu').superfish({
				delay: 1000, // the delay in milliseconds that the mouse can remain outside a sub-menu without it closing
				animation: {
					opacity: "show",
					height: "show"
				}, // used to animate the sub-menu open
				speed: "normal", // animation speed 
				autoArrows: false, // generation of arrow mark-up (for submenu)
				disableHI: true // to disable hoverIntent detection
			});

		//Zoom fix
		//IPad/IPhone
			var viewportmeta = document.querySelector && document.querySelector('meta[name="viewport"]'),
				ua = navigator.userAgent,
				gestureStart = function () {
					viewportmeta.content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6, initial-scale=1.0";
				},
				scaleFix = function () {
					if (viewportmeta && /iPhone|iPad/.test(ua) && !/Opera Mini/.test(ua)) {
						viewportmeta.content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
						document.addEventListener("gesturestart", gestureStart, false);
					}
				};
			scaleFix();
		})
	</script>

</head>
<body class="home page page-id-203 page-template page-template-page-home-php">

	<div id="motopress-main" class="main-holder">
 		<header class="motopress-wrapper header">
			<div class="container">
				<div class="row">
					<div class="span12" data-motopress-wrapper-file="wrapper/wrapper-header.php" data-motopress-wrapper-type="header" data-motopress-id="556c470b9c336">
						<div class="row">
							<div class="span4" data-motopress-type="static" data-motopress-static-file="static/static-logo.php">
								<div class="logo pull-left">
									<a href="/" class="logo_h logo_h__img"><img src="/images/logo.png" alt="Game box" title=""></a>
								</div>
							</div>
							<div class="span8" data-motopress-type="static" data-motopress-static-file="static/static-nav.php">
								<nav class="nav nav__primary clearfix">
									<ul id="topnav" class="sf-menu"><li id="menu-item-1975" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Home</a></li>
										<li id="menu-item-1977" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="http://livedemo00.template-help.com/wordpress_48834/about/">About</a>
											<ul class="sub-menu">
												<li id="menu-item-1978" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://livedemo00.template-help.com/wordpress_48834/about/testi/">Testimonials</a></li>
												<li id="menu-item-1979" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://livedemo00.template-help.com/wordpress_48834/about/archives/">Archives</a></li>
												<li id="menu-item-1973" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://livedemo00.template-help.com/wordpress_48834/about/faqs/">FAQs</a></li>
											</ul>
										</li>
										<li id="menu-item-1976" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="http://livedemo00.template-help.com/wordpress_48834/portfolio/">Games</a>
											<ul class="sub-menu">
												<li id="menu-item-1982" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://livedemo00.template-help.com/wordpress_48834/portfolio/gallery-2/">Games 2</a></li>
												<li id="menu-item-1981" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="http://livedemo00.template-help.com/wordpress_48834/portfolio/gallery-3/">Games 3</a>
													<ul class="sub-menu">
														<li id="menu-item-1990" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://livedemo00.template-help.com/wordpress_48834/portfolio/gallery-3/category-1/">Category 1</a></li>
														<li id="menu-item-1989" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://livedemo00.template-help.com/wordpress_48834/portfolio/gallery-3/category-2/">Category 2</a></li>
														<li id="menu-item-1988" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://livedemo00.template-help.com/wordpress_48834/portfolio/gallery-3/category-3/">Category 3</a></li>
													</ul>
												</li>
												<li id="menu-item-1980" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://livedemo00.template-help.com/wordpress_48834/portfolio/gallery-4/">Games 4</a></li>
											</ul>
										</li>
										<li id="menu-item-1974" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://livedemo00.template-help.com/wordpress_48834/blog/">Blog</a></li>
										<li id="menu-item-1972" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-14 current_page_item"><a href="/contact.html">Contacts</a></li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="row">
							<div class="span12 hidden-phone" data-motopress-type="static" data-motopress-static-file="static/static-search.php"></div>
						</div>
					</div>
				</div>
			</div>
		</header>

<div class="motopress-wrapper content-holder clearfix">
<div class="container">
<div class="row">
<div class="span12" data-motopress-wrapper-file="page-fullwidth.php" data-motopress-wrapper-type="content" >
<div class="row">
<div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-title.php">
<section class="title-section">
<h1 class="title-header">
Contacts </h1>
 
<ul class="breadcrumb breadcrumb__t"><li><a href="http://livedemo00.template-help.com/wordpress_48834">Home</a></li><li class="divider"></li><li class="active">Contacts</li></ul>  
</section> 
</div>
</div>
<div id="content" class="row">
<div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
<div id="post-14" class="post-14 page type-page status-publish hentry page">
<div class="row">
<div class="span12" style="height:446px;"><div class="box">
<h2>Location</h2>
<div class="google-map"><iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+NY,+USA&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=47.704107,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.949919&amp;spn=0.01628,0.028238&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" width="100%" height="300" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
</div></div>
<div class="span4"><div class="box">
<h2>Contact info</h2>
<h6>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</h6>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque la udantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia.<br/>
<address>
<strong>The Company Name Inc.<br/>
9870 St Vincent Place,<br/>
Glasgow, DC 45 Fr 45.</strong><br/>
Telephone: +1 800 603 6035<br/>
FAX: +1 800 889 9898<br/>
E-mail: <a href=""><span class="__cf_email__" >[email&#160;protected]</span></a><br/>
</address> 
</div></div>
<div class="span8"><div class="box">
<h2>Contact form</h2>
<div class="wpcf7" id="wpcf7-f208-p14-o1"><form action="/wordpress_48834/contacts/#wpcf7-f208-p14-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="208"/>
<input type="hidden" name="_wpcf7_version" value="3.7.2"/>
<input type="hidden" name="_wpcf7_locale" value=""/>
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f208-p14-o1"/>
<input type="hidden" name="_wpnonce" value="e41d55a85f"/>
</div>
<div class="row-fluid">
<p class="span4 field"><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name:"/></span> </p>
<p class="span4 field"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-mail:"/></span> </p>
<p class="span4 field"><span class="wpcf7-form-control-wrap your-phone"><input type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Phone:"/></span> </p>
</div>
<p class="field"><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message:"></textarea></span> </p>
<p class="submit-wrap"><input type="reset" value="clear" class="btn btn-primary"/><input type="submit" value="send" class="wpcf7-form-control wpcf7-submit btn btn-primary"/></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
</div></div>
</div> 
<div class="clear"></div>
 
</div> 
</div>
</div>
</div>
</div>
</div>
</div>

		<footer class="motopress-wrapper footer">
			<div class="container">
				<div class="row">
					<div class="span12" data-motopress-wrapper-file="wrapper/wrapper-footer.php" data-motopress-wrapper-type="footer" data-motopress-id="556c470c4f84b">
						<div class="footer-widgets">
							<div class="row">
								<div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-1">
									<div id="meta-4">
										<h4>Meta</h4>
										<ul>
											<li><a href="http://livedemo00.template-help.com/wordpress_48834/wp-login.php">Log in</a></li>
											<li><a href="http://livedemo00.template-help.com/wordpress_48834/feed/" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
											<li><a href="http://livedemo00.template-help.com/wordpress_48834/comments/feed/" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
											<li><a href="http://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
										</ul>
									</div>
								</div>
								<div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-2">
									<div id="recent-posts-4">
										<h4>Recent Posts</h4>
										<ul>
											<li>
												<a href="http://livedemo00.template-help.com/wordpress_48834/lorem-ipsum-dolor/mauris-posuere/">Mauris posuere</a>
											</li>
											<li>
												<a href="http://livedemo00.template-help.com/wordpress_48834/praesent-vestibulum-molestie/donec-tempor-libero/">Donec tempor libero</a>
											</li>
											<li>
												<a href="http://livedemo00.template-help.com/wordpress_48834/porta-fusce-suscipit-varius-miursu/etiam-dictum-egestas/">Etiam dictum egestas</a>
											</li>
											<li>
												<a href="http://livedemo00.template-help.com/wordpress_48834/etiam-cursus-leo-vel-metus/phasellus-fringilla/">Phasellus fringilla</a>
											</li>
											<li>
												<a href="http://livedemo00.template-help.com/wordpress_48834/in-faucibus-orci-luctus-et/vivamus-vel-sem-at/">Vivamus vel sem at</a>
											</li>
											<li>
												<a href="http://livedemo00.template-help.com/wordpress_48834/aenean-nec-eros-estibulum-ante-ipsum/etiam-commodo-convallis/">Etiam commodo convallis</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="span2" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-3">
									<div id="archives-4" class="">
										<h4>Archives</h4>
										<ul>
											<li><a href='http://livedemo00.template-help.com/wordpress_48834/2013/03/'>March 2013</a></li>
											<li><a href='http://livedemo00.template-help.com/wordpress_48834/2013/02/'>February 2013</a></li>
											<li><a href='http://livedemo00.template-help.com/wordpress_48834/2013/01/'>January 2013</a></li>
											<li><a href='http://livedemo00.template-help.com/wordpress_48834/2012/12/'>December 2012</a></li>
											<li><a href='http://livedemo00.template-help.com/wordpress_48834/2012/05/'>May 2012</a></li>
										</ul>
									</div>
								</div>
								<div class="span4" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-4">
									<div id="social_networks-2" class="">
										<ul class="social social__list unstyled">
											<li class="social_li">
												<a class="social_link social_link__facebook" rel="tooltip" data-original-title="facebook" href="http://www.facebook.com">
													<span class="social_ico">
														<img src="/images/facebook.png" alt="">
													</span>
												<span class="social_label">Facebook</span>
												</a>
											</li>
											<li class="social_li">
												<a class="social_link social_link__twitter" rel="tooltip" data-original-title="twitter" href="http://twitter.com">
													<span class="social_ico">
														<img src="/images/twitter.png" alt="">
													</span>
													<span class="social_label">Twitter</span>
												</a>
											</li>
											<li class="social_li">
												<a class="social_link social_link__youtube" rel="tooltip" data-original-title="youtube" href="http://www.youtube.com">
													<span class="social_ico">
														<img src="/images/youtube.png" alt="">
													</span>
													<span class="social_label">You Tube</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="copyright">
							<div class="row">
								<div class="span6" data-motopress-type="static" data-motopress-static-file="static/static-footer-text.php">
									<div id="footer-text" class="footer-text">
										<a href="http://livedemo00.template-help.com/wordpress_48834/" title="" class="site-name">Game box</a> &copy; 2015. <b><a href="http://livedemo00.template-help.com/wordpress_48834/privacy-policy/" title="Privacy Policy">Privacy Policy</a></b>
									</div>
								</div>
								<div class="span6" data-motopress-type="static" data-motopress-static-file="static/static-footer-nav.php"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
 
	</div>
	<div id="back-top-wrapper" class="visible-desktop">
		<p id="back-top">
			<a href="#top">
				<span></span>
			</a>
		</p>
	</div>
	
	<script type='text/javascript' src='/js/jquery.form.min.js?ver=3.50.0-2014.02.05'></script>
	<script type='text/javascript' src='/js/scripts.js?ver=3.7.2'></script>
	<script type='text/javascript' src='/js/superfish.js?ver=1.5.3'></script>
	<script type='text/javascript' src='/js/jquery.mobilemenu.js?ver=1.0'></script>
	<script type='text/javascript' src='/js/jquery.magnific-popup.min.js?ver=0.9.3'></script>
	<script type='text/javascript' src='/js/jquery.flexslider-min.js?ver=2.1'></script>
	<script type='text/javascript' src='/js/jplayer.playlist.min.js?ver=2.3.0'></script>
	<script type='text/javascript' src='/js/jquery.jplayer.min.js?ver=2.4.0'></script>
	<script type='text/javascript' src='/js/camera.min.js?ver=1.3.4'></script>
	<script type='text/javascript' src='/js/jquery.debouncedresize.js?ver=1.0'></script>
	<script type='text/javascript' src='/js/jquery.ba-resize.min.js?ver=1.1'></script>
	<script type='text/javascript' src='/js/jquery.isotope.js?ver=1.5.25'></script>
	<script type='text/javascript' src='/js/cherry-plugin.js?ver=1.1'></script>
 
	<script src="//ms8.demo/bundle/beacon"></script>
 
</body>
</html>